{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
<table class="display" data-endpoint='radius' data-url="/v1/pool/{{id}}/ips" width="100%">
    <thead>
        <tr>
            <th id='framedipaddress'>IP</th>
            <th id='expiry_time'>Expiry</th>
            <th id='username'>Username</th>
            <th id='nasipaddress'>NAS</th>
        </tr>
    </thead>
</table>
<form autocomplete="off" data-msg="Radius IP Pool job requested." data-datatable action="{{APP}}/infrastructure/radius/pool/request/{{id}}" enctype="multipart/form-data" class="row">
     <div class="col-sm-3">
        <input type="text" name="prefix" placeholder="192.168.0.0/16" class="form-control">
     </div> 
     <div class="col-sm-3">
         <select name="request" width='300px' class="form-control">
            <option value="add">Add/Append Prefix</option>
            <option value="remove">Remove Pool/Prefix</option>
         </select>
     </div>
     <div class="col-sm-2">
          <input class="btn btn-danger" type="submit" value="Request">
     </div>   
</form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/infrastructure/radius/pool/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete IP Pool?" data-closeall href="{{ APP }}/infrastructure/radius/pool/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/infrastructure/radius/pool/edit/{{id}}" data-form="form" class="btn btn-primary">Update</a>
{% endblock %}
