{% extends "photonic/view.html" %}
{% block content %}
<table class="display" data-endpoint='radius' data-url="/v1/users" width="100%">
    <thead>
        <tr>
            <th id='username'>Login</th>
            <th id='name'>Name</th>
            <th data-modal data-href="/services/radius" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
{% block buttons %}
{% if REQ.policy.validate('services:admin') %}
<a class="btn btn-primary" href="{{APP}}/services/radius/add" data-modal>Add Subscriber</a>
{% endif %}
{% endblock %}
